# Database configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/artificial_u_dev

# API Keys
ANTHROPIC_API_KEY=
ELEVENLABS_API_KEY=
GOOGLE_API_KEY=
OPENAI_API_KEY=
# Azure AI Speech
SPEECH_KEY=
SPEECH_REGION=

# Configuration
TEMP_AUDIO_PATH=temp_audio
LOG_LEVEL=INFO

# Optional: Specify content generation models
COURSE_GENERATION_MODEL=gpt-5-nano
DEPARTMENT_GENERATION_MODEL=gpt-5-nano
LECTURE_GENERATION_MODEL=claude-sonnet-4-20250514
PROFESSOR_GENERATION_MODEL=gpt-5-nano
TOPICS_GENERATION_MODEL=gemini-2.5-flash
IMAGE_GENERATION_MODEL=imagen-4.0-generate-preview-06-06

# Models
# claude-opus-4-1-20250805
# claude-opus-4-20250514
# claude-sonnet-4-20250514
# claude-3-7-sonnet-20250219
# claude-3-5-sonnet-20241022
# claude-3-5-haiku-20241022
# gemini-2.0-flash
# gemini-2.0-flash-lite
# gemini-2.5-flash
# gemini-2.5-pro
# gpt-5
# gpt-5-mini
# gpt-5-nano
# gpt-4.1
# gpt-4.1-mini
# gpt-4.1-nano

# Image Models
# imagen-3.0-generate-002
# imagen-4.0-generate-preview-06-06
# imagen-4.0-fast-generate-preview-06-06
# imagen-4.0-ultra-generate-preview-06-06
# gpt-image-1

# Ollama Models     SIZE   CONTEXT
# qwen3:0.6b      # 523MB, 40K
# tinyllama:1.1b  # 638MB, 2K
# llama3.2:1b     # 1.3GB, 128K
# smollm2:1.7b    # 1.8GB, 8K
# phi4-mini:3.8b  # 2.5GB, 128K
# qwen3:4b        # 2.5GB, 256K
# gemma3:4b       # 3.3GB, 128K
