# Environment variables
.env

# Python
__pycache__/
.eggs/
.installed.cfg
.Python
*.egg
*.egg-info/
*.py[cod]
*.so
*$py.class
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

# Virtual Environment
env/
ENV/
venv/

# IDE
.idea/
.vscode/
*.swo
*.swp

# Project specific
.cache/
*.db
*.log
*.mp3
*.wav
audio_files/
exports/
lecture_texts/

# Test files
.coverage
.pytest_cache/
htmlcov/
test_audio_files/
test_exports/
test_university.db
