# Environment variables
.env
.env.api
.env.bak
.env.prod

# Python
__pycache__/
.eggs/
.installed.cfg
.Python
*.egg
*.egg-info/
*.py[cod]
*.so
*$py.class
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

# Virtual Environment
env/
ENV/
venv/

# IDE
.idea/
.vscode/
*.swo
*.swp

# Test files
.coverage
.pytest_cache/
htmlcov/

# Pip-tools
.pip-tools-cache/

# OS
.DS_Store

# Project specific
.cache/
*.db
*.log
content_logs/
exports/
lecture_texts/

# Backup files
backups/*
!backups/.gitkeep
